* {
  outline: none;
}

#result {
  text-align: right;
  width: 214px;
  height: 77px;
  background-color: #999;
  border: 1px solid #8e8e8e;
  border-bottom: none;
  color: #fff;
  font-size: 48px;
  font-weight: 200;
  padding-right: 15px;
  border-radius: 5px 5px 0 0;
}

#container {
  width: 232px;
  height: 320px;
  position: absolute;
  background-color: #333;
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-shadow: 1px 20px 100px 10px #909090;
}

.btn {
  width: 58px;
  height: 48px;
  border: 1px solid #8e8e8e;
  font-size: 20px;
}

.number, .d {
  background-color: #e0e0e0;
}

.number:active, .d:active {
  background-color: #b2b2b2;
}

table {
  border-collapse: collapse;
}

td {
  padding: 0;
}

.ac, .pm, .percent, .seven, .eight, .nine, .four, .five, .six, .one, .two, .three {
  border-right: none;
  border-bottom: none;
}

.calOne, .calTwo, .calThree, .calFour {
  border-bottom: none;
}

.zero {
  border-right: none;
  width: 116px;
  border-radius: 0 0 0 5px;
}

.d {
  border-right: none;
}

.keyTop {
  background-color: #d6d6d6;
}

.keyTop:active {
  background-color: #a9a9a9;
}

.cal {
  background-color: #f69331;
  color: #fff;
}

.cal:active {
  background-color: #c47325;
  color: #686868;
}

.calLast {
  border-radius: 0 0 5px 0;
}
