
*{
  outline: none;
  font-weight: 300;
}
//html{
//  height: auto;
//}
body{
  height: 100%;
  margin: 0;
}
table{
  border-collapse: collapse;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto auto 0 0;
  width: 200px;
  height: 200px;
}
td{
  padding: 0;
}
#result{
  color: #fff;
  font-size: 45px;
  font-weight: 100;
  text-align: right;
  padding-bottom: 0;
  padding-right: 14px;
  position: absolute;
  bottom: 240px;
  right: 0;
  width: 215px;
  height: 79px;
  background-color: #999;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border: 1px solid #9a9a9a;
  border-bottom: none;
}
.number,.nan{
  font-size: 22px;
}
.number:active,.d:active{
  background-color: #b2b2b2;
}
%button{
  width: 58px;
  height: 48px;
  -webkit-appearance:button;
}
.number,.d{
  @extend %button;
  background-color: #e0e0e0;
  border: 1px solid #8e8e8e;
}
.keyTop{
  @extend %button;
  border: 1px solid #8e8e8e;
  background-color: #d6d6d6;
  @extend %borderSetting;
  font-size: 18px;
}
.keyTop:active{
  background-color: #a9a9a9;
}
.cal{
  @extend %button;
  border: 1px solid #8e8e8e;
  background-color: #f69331;
  border-bottom: none;
  border-left: none;
  color: #fff;
}
.cal:active{
  background-color: #c47325;
  color: #686868;
}
.calOne{
  border: 1px solid #8e8e8e;
  border-bottom: none;
  border-left: none;
}
.calLast{
  border-radius: 0 0 5px 0;
  border-bottom: 1px solid #8e8e8e !important;
}
.percent{
  border-right: 1px solid #8e8e8e !important;
}
%borderSetting{
  border-right: none;
  border-bottom: none;
}
%borderSetting2{
  border-bottom: none;
}
.seven{
  @extend %borderSetting;
}
.eight{
  @extend %borderSetting;
}
.four, .five,.one,.two{
  @extend %borderSetting;
}
.two{
  border-right: none;
}
.nine,.six,.three{
  @extend %borderSetting2;
}
.zero{
  width: 58*2px;
  border-right: none;
  border-radius: 0 0 0 5px;
}
#bd{
  width: 232px;
  height: 321px;
  border-radius: 5px;
  box-shadow: 1px 20px 100px 10px #8c8c8c;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

}
//#result{
//  position: absolute;
//  bottom: 20px;
//}
